.container{
background-color:lavenderblush;
font-size:40px;
font-family:'Franklin Gothic Medium';
vertical-align: top;
margin-right: 20px;
text-align: center;
}
button{
    border:100px;
    border-radius: 10px;
    color:black;
    background-color:antiquewhite;
    font-size: 20px;
}
button:hover{
    background-color:cornsilk;
    color:darkseagreen;
}
body{
    background-color:darkturquoise;
}
.item{
    text-align:center;
    font-size:30px;
    font-style:oblique;
}
.item1{
    text-align:center;
}
.con{
    text-align: center;
}
p{
    text-align:left;
    font-size: xx-large;
}
.con1{
    text-align:center ;
}
.con3{
    text-align:center;
    text-decoration:underline;
}
h2{
    text-align:left;
    font-size:xx-large;
    font-style:italic;
    font-weight: 100;
    
    
}
h3{
    font-size: 20px;
    font-family:'Lucida Sans';
}
.item3{
    text-align: left;
    font-size:xx-large;
}
.con4{
    font-size:xx-large;
    text-decoration:double;
    text-align:left;
}
label{
    font-size:x-large;
    font-style: oblique;
    color:darkslategray;
    
}
input{
    margin:1%;
    border-radius: 10px;
}
textarea{
    border-radius: 10px;
}
p1{
    font-size:x-large;
}